@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: almarai;
}

.active div {
  display: block;
}

/* .active h2 {
  color: #0055D2;
} */

.custom-dot {
  font-size: 20px; /* Adjust the size of the dash */
  color: #0055d2; /* Set the color of the dash */
  margin-right: 5px;
  cursor: pointer;
}
